<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [2]:
# create empty list, name it 'a'
a=[]
print("VALUE OF : ",a)
print("TYPE OF : ",type(a))

VALUE OF :  []
TYPE OF :  <class 'list'>

In [3]:
# print the value of a

print("VALUE OF a : ",a)

VALUE OF a :  []

In [4]:
# print the type of a
print("TYPE OF a : ",type(a))

TYPE OF a :  <class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [5]:
l=['R','PYTHON','SAS','SCALA','42']

Print the number of elements in the list

In [6]:
l=['R','PYTHON','SAS','SCALA','42']
print("Number of elements in the list are : ",len(l))

Number of elements in the list are :  5

Using for loop iterate and print all the elements in the list

In [7]:
l=['R','PYTHON','SAS','SCALA','42']

for x in l :
    print(x)

R
PYTHON
SAS
SCALA
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [8]:
l=['R','PYTHON','SAS','SCALA','42']
temp = None  # Temporary variable

for x in range(len(l)):  
    if x == 1:  
        temp = l[x]  
        break  

print("Temporary variable temp:", temp)

Temporary variable temp: PYTHON

Print the value of temp and type(temp)

In [9]:
print("Temporary variable temp:", temp)
print("TYE OF Temporary variable temp:", type(temp))

Temporary variable temp: PYTHON
TYE OF Temporary variable temp: <class 'str'>

Append the element 'Java' in the list

In [10]:
l.append('JAVA')
print('LIST AFTER APPEND : ',l)

LIST AFTER APPEND :  ['R', 'PYTHON', 'SAS', 'SCALA', '42', 'JAVA']

Remove the element 42 from the list and print the list

In [11]:
l.remove('42')
print('LIST AFTER REMOVING 42 : ',l)

LIST AFTER REMOVING 42 :  ['R', 'PYTHON', 'SAS', 'SCALA', 'JAVA']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [12]:
colors=['RED','BLUE','WHITE']

Append the element 'Black' to colors

In [13]:

colors.append('BLACK')
print('LIST COLORS AFTER APPENDING BLACK : ',colors)

LIST COLORS AFTER APPENDING BLACK :  ['RED', 'BLUE', 'WHITE', 'BLACK']

Append the color 'Orange' to second position (index=1) and print the list

In [14]:
colors.insert(1,'ORANGE')

print('LIST COLORS AFTER APPENDING ORANGE AT SECOND POSITION WITH INDEX 1 : ',colors)

LIST COLORS AFTER APPENDING ORANGE AT SECOND POSITION WITH INDEX 1 :  ['RED', 'ORANGE', 'BLUE', 'WHITE', 'BLACK']

Print the list

In [15]:
print("THE LIST : ",colors)

THE LIST :  ['RED', 'ORANGE', 'BLUE', 'WHITE', 'BLACK']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [16]:
COLORS2=['GREY','SKYBLUE']
print("NEW LIST : ",COLORS2)

NEW LIST :  ['GREY', 'SKYBLUE']

Add the elements of colors2 to colors using extend function in the list

In [17]:
COLORS2=['GREY','SKYBLUE']
print("NEW LIST : ",COLORS2)
colors.extend(COLORS2)
print('BOTH THE LISTS TOGETHER : ',colors)

NEW LIST :  ['GREY', 'SKYBLUE']
BOTH THE LISTS TOGETHER :  ['RED', 'ORANGE', 'BLUE', 'WHITE', 'BLACK', 'GREY', 'SKYBLUE']

Print len of colors and its elements

In [18]:
R=len(colors)
print('LENGTH OF COLORS ELEMENTS : ',R)

LENGTH OF COLORS ELEMENTS :  7

Sort the list and print it.

In [19]:

colors.sort
print('SORTING AND PRINTING THE LIST : ',colors)

SORTING AND PRINTING THE LIST :  ['RED', 'ORANGE', 'BLUE', 'WHITE', 'BLACK', 'GREY', 'SKYBLUE']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [20]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [21]:
sent = 'Coronavirus Caused Lockdowns Around The World.'
a= sent.split()
print('SPLIT FUNCTION USED : ',a)

SPLIT FUNCTION USED :  ['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [22]:
words_lower= sent.lower()
print('LOWER CASE : ',words_lower)

LOWER CASE :  coronavirus caused lockdowns around the world.

Check whether ‘country’ is in the list

In [23]:

found = False  # Flag variable

for item in a:
    if item == "country":
        found = True
        break  # Stop searching once found

if found:
    print("The word 'country' is in the list.")
else:
    print("The word 'country' is NOT in the list.")

The word 'country' is NOT in the list.

Remove the element ‘the’ from the list and print the list.

In [24]:
sent = 'Coronavirus Caused Lockdowns Around The World.'
a= sent.split()
a.remove("The")
print(a)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [25]:
x4= a[:4]
print(x4)

['Coronavirus', 'Caused', 'Lockdowns', 'Around']

In [26]:
# print x4

print("printing x4 : ",x4)

printing x4 :  ['Coronavirus', 'Caused', 'Lockdowns', 'Around']

Convert the list of elements to single string using join function and print it

In [27]:

z = " ".join(a)
print("USED JOIN FUNCTION : ",z)

USED JOIN FUNCTION :  Coronavirus Caused Lockdowns Around World.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [28]:
stud_grades=['A','A','B','C','C','F']

Print the len of stud_grades

In [29]:
print('LENGTH OF STD_GRADES : ',len(stud_grades))

LENGTH OF STD_GRADES :  6

Create a new variable, stud_grades_set = set(stud_grades)

In [30]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [31]:
print("THIS IS STD GRADES SET : ",stud_grades_set)

THIS IS STD GRADES SET :  {'B', 'A', 'F', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [32]:
print('TYPE OF STD_GRASDES IS : ',type(stud_grades) )
print('TYPE OF STD_GRADES_SET : ',type(stud_grades_set))

TYPE OF STD_GRASDES IS :  <class 'list'>
TYPE OF STD_GRADES_SET :  <class 'set'>

Add a new element ‘G’ to stud_grades_set

In [33]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [34]:
stud_grades_set.add('F')
print('AFTER ADDING G AND F : ',stud_grades_set)

AFTER ADDING G AND F :  {'C', 'G', 'F', 'A', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [35]:
stud_grades_set.remove('G')

Print the elements and the length of stud_grades_set

In [36]:
print("ELEMENTS ",stud_grades_set)

print('LENGTH OF STD _GRADES_SET : ',len(stud_grades_set))

ELEMENTS  {'C', 'F', 'A', 'B'}
LENGTH OF STD _GRADES_SET :  4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [37]:
colors=['RED','BLUE','ORANGE']
fruits=['orange ','grapes','apple']

Print color and fruits

In [38]:
print("COLORS : ",colors)
print("FRUITS : ",fruits)

COLORS :  ['RED', 'BLUE', 'ORANGE']
FRUITS :  ['orange ', 'grapes', 'apple']

Create colors_set, and fruits_set. (using set() ) and print them

In [39]:
colors_set = set(colors)
fruits_set = set(fruits)

# Printing sets
print("Colors Set:", colors_set)
print("Fruits Set:", fruits_set)

Colors Set: {'RED', 'BLUE', 'ORANGE'}
Fruits Set: {'grapes', 'orange ', 'apple'}

Find the union of both the sets.

In [40]:
union_set = colors_set.union(fruits_set)
print("Union of both sets:" , union_set)

Union of both sets: {'ORANGE', 'grapes', 'BLUE', 'orange ', 'RED', 'apple'}

Find the intersection of both the sets

In [41]:
union_set1 = colors_set.intersection(fruits_set)

print("INTERSECTION of both sets:" , union_set1)

INTERSECTION of both sets: set()

Find the elements which are Fruits but not colors (using set.difference() )

In [42]:
fruits_not_colors = fruits_set.difference(colors_set)
print("using srt.difference : ",fruits_not_colors)

using srt.difference :  {'grapes', 'orange ', 'apple'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [43]:
temp = [17,'virat','50.0']

Iterate through temp and print all the items in temp

In [44]:
for x in temp:
    print(x)

17
virat
50.0

replace first element with 11 in temp

In [45]:
temp[0]='11'
print("after replacement : ",temp)

after replacement :  ['11', 'virat', '50.0']

Set temp1 = tuple(temp)

In [46]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [47]:
for x in temp1 :
    print(x)

11
virat
50.0

replace first element with 17 in temp1

In [48]:
#cannot change

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [49]:
city =('banglore',28.9949521,72)

Print first element of city

In [50]:
print("first element :",city[0])

first element : banglore

Create city2 = (‘Chennai’, 30.01, 74)

In [51]:
city2=('chennai','30.01','74')

Create cities which consist of city and city2

In [52]:
cities = city + city2
print('TWO COMBINED : ',cities)

TWO COMBINED :  ('banglore', 28.9949521, 72, 'chennai', '30.01', '74')

Print cities

In [53]:
cities = city + city2
print('TWO COMBINED : ',cities)

TWO COMBINED :  ('banglore', 28.9949521, 72, 'chennai', '30.01', '74')

Print type of first element in cities

In [54]:
print('TYPE OF : ',type(cities[0]))

TYPE OF :  <class 'str'>

print the type of cities

In [55]:
print('TYPE OF : ',type(cities))

TYPE OF :  <class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [56]:
d = {"ACTOR":"AMIR KHAN ","ANIMAL":"CAT","EARTH": 2 ,"LIST" : [23,32,12]}

Print the value of d[0]

In [57]:
#print('VALUE OF d[0] : ', d[0])

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [58]:
d = {"ACTOR":"AMIR KHAN ","ANIMAL":"CAT","EARTH": 2 ,"LIST" : [23,32,12]}
actor = d["ACTOR"]
print('value of actor : ',actor)

value of actor :  AMIR KHAN

Print the type of actor

In [59]:
print('Type of actor : ',type(actor))

Type of actor :  <class 'str'>

Store the value of d[‘list’] in new variable List.

In [60]:
List = d['LIST']
print('VALUE OF LIST : ',List)

VALUE OF LIST :  [23, 32, 12]

Print the type of List.

In [61]:
print('TYPE OF LIST : ',type(List))

TYPE OF LIST :  <class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [62]:
d1 ={'singer ': 'kr$na','album':'still here','genre':'hip-hop'}

Merge d1 into d.

In [63]:
d.update(d1)
print("MERGED : ",d)

MERGED :  {'ACTOR': 'AMIR KHAN ', 'ANIMAL': 'CAT', 'EARTH': 2, 'LIST': [23, 32, 12], 'singer ': 'kr$na', 'album': 'still here', 'genre': 'hip-hop'}

print d

In [64]:
d.update(d1)
print("MERGED : ",d)

MERGED :  {'ACTOR': 'AMIR KHAN ', 'ANIMAL': 'CAT', 'EARTH': 2, 'LIST': [23, 32, 12], 'singer ': 'kr$na', 'album': 'still here', 'genre': 'hip-hop'}

Print all the keys in d

In [65]:
print('KEYS OF THE DICTIONARY : ',d.keys())

KEYS OF THE DICTIONARY :  dict_keys(['ACTOR', 'ANIMAL', 'EARTH', 'LIST', 'singer ', 'album', 'genre'])

Print all the values in d

In [66]:
print('VALUES OF THE DICTIONARY : ',d.values())

VALUES OF THE DICTIONARY :  dict_values(['AMIR KHAN ', 'CAT', 2, [23, 32, 12], 'kr$na', 'still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [67]:
for key, value in d.items():
    print(f"{key.strip().lower()} ----> {str(value).strip().lower()}")

actor ----> amir khan
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> kr$na
album ----> still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [68]:


sent = "count the number of occurences of characters in string named sent"

char_count = {}

for char in sent:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

for k, v in char_count.items():
    print(f"{k} ---> {v}")

c ---> 6
o ---> 4
u ---> 3
n ---> 7
t ---> 5
  ---> 10
h ---> 2
e ---> 7
m ---> 2
b ---> 1
r ---> 5
f ---> 2
s ---> 4
a ---> 3
i ---> 2
g ---> 1
d ---> 1

In [ ]:
#DONE WITH THIS NOW